---
layout: layout.liquid
title: book list for library page
---

{{content}}

<section class="center lh-copy">

  <h2 class="near-black f3 normal">{{ title }}</h2>

  {% for book in collections.book %}
  <article class="bt bw2">
    <a href="{{ book.url }}" class="">
      <div class="center dim">
        <div class="cf">
          <div class="fl w-100 w-50-ns pv3">
            
            <!-- replace this with a cover image -->
            <img src="_img/{{ book.data.image }}" class="db bg-center cover" alt="{{ book.data.description }}"/>


          </div>
            
      
        <div class="fl w-100 w-50-ns pl3 near-black">
          <h1 class="f3 normal underline mb0 db">{{ book.data.title }}</h1>
          <h2 class="f4 normal mt0 pt0">{{ book.data.description }}</h2>
          <!-- <p class="lh-copy">{{ book.data.content }}</p> -->
        </div>
      </div>
    </a>
  </article>
 {% endfor %}
</section>

