---
layout: layout.liquid
title: book list for library page
---

{{content}}

<section class="center lh-copy">
  <h2 class="near-black f3">{{ title }}</h2>
  {% for book in collections.book %}
  <article class="bt bw2">
    <a href="{{ book.url }}">
      <div class="flex flex-column flex-row-ns">
        <div class="dim">
            <!-- replace this with a cover image -->
          <img src="http://mrmrs.github.io/photos/cpu.jpg" class="db pv3" alt="Photo of a dimly lit room with a computer interface terminal.">
        </div>
        <div class="w-100 w-60-ns pl3-ns pt3">
          <a href="{{ book.url }}" class="near-black f4 db dim">{{ book.data.title }}</a>
          <a href="{{ book.url }}" class="near-black f6 link">{{ book.data.description }}</a>
        </div>
      </div>
    </a>
  </article>
 {% endfor %}
</section>