---
title: latewerks
---
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>

<body>
    <ul>
        {% for nav in collections.nav %}
        <li><a href="{{ nav.url }}">{{ nav.data.title }}</a></li>
        {% endfor %}
    </ul>
    {{ content }}
    <hr />
    <p style="color: magenta;">This is just to check that all of our pages are showing up.</p>
    <ul>
        {% for post in collections.all %}
        <li><a href="{{ post.url }}">{{ post.url }}</a></li>
        {% endfor %}
    </ul>
</body>

</html>