---
layout: layout.liquid
title: page list for each book
---
{{content}}

<!-- <p>Filter this list by book:</p> DONE-->
<section class="cf w-100">
    
        {% for page in collections.page %}
        {% if page.data.title == title %}
        <article class="fl w-100 w-50-m  w-25-ns pr3">
        <div class="bt bw2">
            <a class="dim" href="{{ page.url }}">
                <img src="{{ page.url }}/{{ page.data.image }}" class="pv3  bg-center cover" />
            </a>
        </div>
        <div class="mt0 pt0">
            <a href="{{ page.url }}" class="near-black dim">{{ page.data.description }}</a>
            <p class="f6 mt0 gray" >{{ page.data.date }}</p>

        </div>
        </article>
        {% endif %}
        {% endfor %}
   
</section>