---
layout: layout.liquid
title: page list for each book
---
{{content}}

<section class="cf w-100">
    
        {% for page in collections.page %}
        {% if page.data.book == book %}
        <article class="fl w-100 w-50-m  w-25-ns pr3">
        <div class="bt bw2">
            <a class="dim" href="{{ page.url }}">
                <img src="../_img/{{ page.data.image }}" class="pv3 bg-center cover" alt="{{ page.data.description }}" />
            </a>
        </div>
        <div class="mt0 pt0">
            <a href="{{ page.url }}" class="near-black dim">{{ page.data.title }}</a>
            <p class="f6 mt1 gray" >{{ page.data.description }}</p>

        </div>
        </article>
        {% endif %}
        {% endfor %}
   
</section>