---
layout: layout.liquid
title: page layout
---
<!-- responsive not working in chrome -->
<!-- tachyons "-m" is important -->
<section>
    {{ content }}
    <article class="mw9 center ph0-ns">
        <div class="cf ph0-ns">
            <div class="fl w-100 w-50-ns pr3-m">
                <div class="bt bw2 pv1">
                    <h2>
                        {{ title }}
                    </h2>
                    <p>{{ description }}</p>
                    {% for book in collections.book %}
                    {% if book.data.key == key %}
                    <span>
                        &larr;
                        <a class="dim near-black" href="{{ book.url }}">
                            back to {{ book.data.title }}
                        </a>
                    </span>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="fl w-100 w-50-ns">
                <div class="pv0">
                    <img src="../_img/{{ image }}" alt="{{ description }}" />
                </div>
            </div>
        </div>
    </article>
</section>